#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@keyframes animation{
  0% {
    transform: translateX(40px) scale(0.9);
    box-shadow: none;
  }
  50% {
    transform: translate(0px,0px) scale(1.02);
    box-shadow: 0 0 10px #ffff, 0 0 80px 2px #ffff;
  }
  100% {
    transform: translateX(-40px) scale(0.9);
    box-shadow: none;
  }
}

body {
  z-index: -1;

  background: hsla(250, 52%, 24%, 1);

  background: radial-gradient(circle, hsla(250, 52%, 24%, 1) 10%, hsla(251, 69%, 11%, 1) 53%, hsla(0, 0%, 0%, 1) 100%);

  background: -moz-radial-gradient(circle, hsla(250, 52%, 24%, 1) 10%, hsla(251, 69%, 11%, 1) 53%, hsla(0, 0%, 0%, 1) 100%);

  background: -webkit-radial-gradient(circle, hsla(250, 52%, 24%, 1) 10%, hsla(251, 69%, 11%, 1) 53%, hsla(0, 0%, 0%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#271D5B", endColorstr="#100931", GradientType=1 );
}
